emoji=0.6.0=pypi_0
en-core-web-sm=2.3.1=pypi_0
gensim=3.8.3=pypi_0
ipython=7.19.0=pypi_0
jupyterlab=3.0.5=pypi_0
keras=2.4.3=pypi_0
matplotlib=3.3.3=pypi_0
nltk=3.5=py_0
notebook=6.2.0=pypi_0
numpy=1.19.5=pypi_0
pandas=1.2.0=pypi_0
scipy=1.6.0=pypi_0
sklearn=0.0=pypi_0
spacy=2.3.5=pypi_0
speechrecognition=3.8.1=pypi_0
sqlite=3.33.0=h2a8f88b_0
tensorflow=2.4.0=pypi_0
tqdm=4.55.1=pyhd3eb1b0_0
pyTelegramBotAPI=3.7.2
subprocess
ibm-watson